<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">The Burgers Shop!</h1>
      <p class="lead">Welcome to The Burgers Shop! Where we can make your favorite Burger!</p>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Order here!
    </div>
    <div class="card-body">
      <h5 class="card-title">What's your Burger?</h5>
      <p class="card-text">We can make any kind of burger!What kind of burger would you like today?</p>
      <form class="create-form">
        <div class="form-group">
          <label for="burger">Order here:</label>
          <input type="text" class="form-control" id="burgerOrder" placeholder="">
        </div>
        <a href="#" class="btn btn-primary">Place order</a>
      </form>
    </div>
  </div>
</div>

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Ordered Burgers</div>
  <div class="card-body">
    {{#each burgers}}
    {{#unless devoured}}
    {{>burgers/burger-block devour=false}}
    {{/unless}}
    {{/each}}
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="devoured-card">
  <div class="card-header">Devoured Burgers</div>
  <div class="card-body">
    {{#each burgers}}
    {{#if devoured}}
    {{>burgers/burger-devoured devour= true}}
    {{/if}}
    {{/each}}
  </div>
</div>

<div class="card">
  <div class="footer">
  <div class="card-body">
    Thank you for visiting The Burgers Shop!
    <a href="https://github.com/Nicole103/burger" class="btn btn-info">GitHub Repo</a>
    <small>Background photo by Pablo Merchán Montes on Unsplash</small>
    </div>
</div>