<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">The Burger Shop!</h1>
      <p class="lead">Welcome to The Burgers Shop! Where we can make your favorite Burger!</p>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
    What's your favorite burger?
    </div>
    <div class="card-body" id="order">
      <h5 class="card-title"></h5>
      <p class="card-text">We can make any kind of burger! What kind of burger would you like today?</p>
      <form class="create-form">
        <div class="form-group">
          <label for="burger">Order here:</label>
          <input type="text" class="form-control" id="burgerOrder" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Place Order!</button>
      </form>
    </div>
  </div>
  <br>

  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="ordered">
      <div class="card-header">Ordered Burgers</div>
      <div class="card-body">
        {{#each burgers}}
        {{#unless devoured}}
        {{>burgers/burger-block devour=false}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="devoured-card">
      <div class="card-header">Devoured Burgers</div>
      <div class="card-body">
        {{#each burgers}}
        {{#if devoured}}
        {{>burgers/burger-devoured devour= true}}
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="footer">
    <div class="card-body">
      Thank you for visiting The Burgers Shop!
      <br>
        <a href="https://github.com/Nicole103/burger" class="btn btn-info">GitHub Repo</a>
      <br>
      <small>Background photo by Pablo Merchán Montes on Unsplash</small>
      <p>Copyright &copy; 2020 Nicole Heersink</p>
    </div>
  </div>
</div>