body {
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url("/assets/img/pablo-merchan-montes-hyIE90CN6b0-unsplash.jpg");
    /*Photo by Gianna Ciaramello on Unsplash*/
    background-repeat: no-repeat;
    background-size: cover;
}

