<li>
    <h4>{{burger_name}}</h4>
    <button type="button" class="btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
       <i class="far fa-hamburger"></i>
        Devour!
    </button>
</li>