<div class="mt-4">
    <h4>{{burger_name}}</h4>
    <button type="button" class="btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
        <i class="fas fa-hamburger"></i>
        Devour!
    </button>
</div>