<div>
    <h4>{{burger_name}}</h4>
    <button type="button" class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
       <i class="fal fa-hamburger"></i>
        Devour!
    </button>
</div>